@import './base.css';

.game {
    background-color: #ffcc00; /* Bright yellow background */
    color: #000080; /* Dark blue text */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Comic Sans font for 90s vibe */
    text-align: center;
    padding: 20px;
    border: 5px solid #ff00ff; /* Magenta border */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 50%;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px #00ff00; /* Green text shadow */
}

.message {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #d9534f; /* Bootstrap warning color */
    background-color: #fff3cd; /* Bootstrap warning background */
    border: 1px solid #ffeeba; /* Bootstrap warning border */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px #ff00ff; /* Magenta shadow */
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.card.active {
    border: 3px solid #00ff00; /* Green border for active cards */
    box-shadow: 5px 5px #000080; /* Magenta shadow */
}

.card {
    display: flex;
    background-color: #f8e2ed; /* Hot pink background */
    border: 3px dashed #23ec2f; /* Cyan dashed border */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px #ff00ff; /* Magenta shadow */
}

.card-img {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 3px;
}
